language: android
jdk: oraclejdk8
sudo: false

android:
  components:
    - extra-android-m2repository
    - extra-android-support
    - build-tools-23.0.1
    - android-23

env:
  global:
    - GRADLE_OPTS="-XX:MaxPermSize=4g -Xmx4g"
    - ANDROID_SDKS=android-14
    - ANDROID_TARGET=android-14

install:
  # Setup gradle.properties
  - cp app/gradle.properties-example app/gradle.properties

script:
  - ./gradlew -PdisablePreDex build
