<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wordcamp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="org.wordcamp.permission.C2D_MESSAGE" />
    <uses-permission android:name="org.wordcamp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".BaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".WordCampDetailActivity"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:configChanges="screenSize|orientation"
            android:name=".wcdetails.SessionDetailsActivity"
            android:label="@string/app_name" />
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".wcdetails.SpeakerDetailsActivity"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:configChanges="screenSize|orientation"
            android:name=".db.DBTester"
            android:label="@string/app_name" >

        </activity>

        <receiver android:name=".notifs.SessionNotifierReceiver" />


        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".networking.CustomGCMReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.wordcamp.UPDATES" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="org.wordcamp" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
