<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wordcamp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".BaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".WordCampDetailActivity"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:configChanges="screenSize|orientation"
            android:name=".db.DBTester"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".objects.SpeakerTester"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:configChanges="screenSize|orientation"
            android:name=".objects.SessionTester"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:configChanges="screenSize|orientation"
            android:name=".Test"
            android:label="@string/app_name" >

        </activity>

    </application>

</manifest>
